.footer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgb(51, 51, 77);
    padding: 100px 24px 24px;
}
.footer__text{
    color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}
span{
    margin-bottom: 24px;
}